{% extends 'core/base.html' %}

{% load static %}

{% block title %} Edit profile {% endblock %}
{% block page-title %} Edit profile for @{{ user.username }} {% endblock %}

{% block content %}
    <div class="flex flex-col max-w-[600px] w-full rounded-xl bg-gray-50 dark:bg-gray-800 self-center shadow-lg">
        <div class="flex px-4 py-2 bg-rose-700 w-full justify-between items-center rounded-t-xl">
            <p class="font-medium text-gray-50 text-lg">Edit profile</p>
            <div onclick="goToLastPage()" class="cursor-pointer">
                <svg class="fill-gray-50" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"/>
                </svg>
            </div>
        </div>

        <div class="flex flex-col justify-center items-center">
            <form action="." method="post" class="flex flex-col w-full" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex flex-col p-6 gap-3">
                    <div class="flex gap-3 w-full">
                        <div id="avatar" class="cursor-pointer flex aspect-square h-full rounded-xl bg-[url('{{ profile.avatar.url }}')] bg-cover border-2 border-yellow-500 relative" onclick="document.getElementById('profileImageInput').click();">
                        </div>

                        <div class="flex flex-col gap-3 w-full overflow-hidden">
                            <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl w-full items-center">
                                <svg class="fill-yellow-500" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M448 80c8.8 0 16 7.2 16 16l0 319.8-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3L48 96c0-8.8 7.2-16 16-16l384 0zM64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/>
                                </svg>
                                <input type="file" accept="image/*" id="profileImageInput" name="avatar" class="w-full text-gray-700 dark:text-gray-50">
                            </div>

                            <script>
                                $('#profileImageInput').change(function() {
                                    var input = this;
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();
                                        reader.onload = function(e) {
                                            $('#avatar').css('background-image', 'url(' + e.target.result + ')');
                                        }
                                        reader.readAsDataURL(input.files[0]);
                                    }
                                });
                            </script>

                            <div class="flex gap-3 w-full">
                                <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl flex-1 items-center">
                                    <svg class="fill-yellow-500" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z"/>
                                    </svg>
                                    <input type="text" id="firstName" name="first_name" class="placeholder-gray-500 text-gray-700 dark:text-gray-50 bg-transparent border-none focus:outline-none flex-1 w-full" placeholder="First Name" value="{{ profile.user.first_name }}">
                                </div>
                                <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl flex-1 items-center">
                                    <svg class="fill-yellow-500" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z"/>
                                    </svg>
                                    <input type="text" id="lastName" name="last_name" class="placeholder-gray-500 text-gray-700 dark:text-gray-50 bg-transparent border-none focus:outline-none flex-1 w-full" placeholder="Last Name" value="{{ profile.user.last_name }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl">
                        <textarea id="bio" name="bio" class="placeholder-gray-500 text-gray-700 dark:text-gray-50 bg-transparent border-none focus:outline-none flex-1 resize-none" rows="3" placeholder="Bio">{{ profile.bio }}</textarea>
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl items-center">
                        <svg class="fill-yellow-500" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M256 168C207.4 168 168 207.4 168 256s39.38 88 88 88S344 304.6 344 256S304.6 168 256 168zM256 296C233.1 296 216 278 216 256c0-21.1 17.1-40 40-40c21.1 0 40 18 40 40C296 278 277.1 296 256 296zM488 232h-41.63C435.5 145.2 366.8 76.5 280 65.62V23.1c0-13.25-10.75-24-23.1-24S232 10.75 232 23.1V65.62C145.2 76.5 76.5 145.2 65.62 232H23.1C10.75 232 0 242.7 0 255.1S10.75 280 23.1 280h41.63C76.5 366.8 145.2 435.5 232 446.4v41.63c0 13.25 10.75 23.1 23.1 23.1S280 501.3 280 488v-41.63C366.8 435.5 435.5 366.8 446.4 280H488c13.25 0 24-10.75 24-23.1S501.3 232 488 232zM256 400c-79.38 0-144-64.63-144-144S176.6 112 256 112s144 64.62 144 144S335.4 400 256 400z"/>
                        </svg>
                        <input type="text" id="location" name="location" class="placeholder-gray-500 text-gray-700 dark:text-gray-50 bg-transparent border-none focus:outline-none flex-1 w-full" placeholder="Location" value="{{ profile.location }}">
                    </div>
                </div>

                <div class="flex p-6 gap-3 w-full border-t-2 border-gray-200 dark:border-gray-900 items-center">
                    <button class="px-4 py-2 text-gray-50 bg-rose-700 font-medium rounded-md w-full">Done</button>
                    <div onclick="goToLastPage()" class="cursor-pointer flex px-4 py-2 bg-gray-200 dark:bg-gray-900 rounded-md w-full justify-center">
                        <p class="text-gray-700 dark:text-gray-50">Cancel</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
