{% extends 'core/base.html' %}

{% load static %}

{% block title %} {{ profile.user.first_name }} {{ profile.user.last_name }} {% endblock %}

{% block content %}
    <div class="flex flex-1 flex-col overflow-y-hidden">
        <div class="flex flex-col rounded-xl shadow-lg bg-gray-50">
            <div class="flex p-6 gap-6 h-full max-h-56">
                <div class="flex aspect-square h-full rounded-full bg-[url('{{ profile.avatar.url }}')] bg-cover border-2 border-yellow-500 shadow-lg"></div>

                <div class="flex flex-1 gap-3 items-start">
                    <div class="flex flex-col gap-3 items-baseline">
                        <div class="flex flex-col gap-1">
                            <p class="text-2xl text-gray-700 font-semibold"> {{ profile.user.first_name }} {{ profile.user.last_name }} </p>
                            <p class="text-xl text-gray-500"> {{ profile.user.email }} </p>
                        </div>
                        {% if request.user == profile.user %}
                            <a href="{% url 'authentication:edit_profile' %}" class="flex bg-rose-700 rounded-xl gap-4 px-4 py-2">
                                <p class="new-note-text text-gray-50 font-medium text-lg">Edit profile</p>
                            </a>
                        {% endif %}
                        <div class="flex gap-3">
                            <p class="text-xl">{{ profile.bio }}</p>
                            {% if profile.location %}
                                <div class="flex gap-1 items-center">
                                    <img src="{% static 'teknotes/images/Pin.svg' %}" alt="Pin">
                                    <p class="text-yellow-500">{{ profile.location }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
                {%if request.user != profile.user %}
                <form id="message-form" method="post" action="{% url 'chat:create-room' %}">
                    {% csrf_token %}
                    <input type="hidden" name="receiver" value="{{ profile.user.username }}">
                    <a href="#" onclick="document.getElementById('message-form').submit(); return false;" class="text-gray-700 text-lg">Message</a>
                </form>
                {% endif %}
            </div>

            <div class="flex flex-wrap w-full p-3 items-start">
                <a href="{% url 'authentication:profile' profile.user.id %}" class="transition-all items-center flex flex-1 px-4 py-3 gap-2 rounded-l-xl justify-center border-2 border-gray-200 {% if '/notes/' in request.path %} bg-rose-700 text-gray-50 hover:shadow-lg {% else %} text-gray-700 font-medium hover:bg-gray-100 {% endif %}">
                    <img src="{% if '/notes/' in request.path %} {% static 'teknotes/images/notebook_white.svg' %} {% else %} {% static 'teknotes/images/notebook.svg' %} {% endif %}" alt="Notebook">
                    <p class="text-xl">Notebook</p>
                    <div class="flex aspect-square h-6 bg-gray-200 rounded-md items-center justify-center text-gray-500 ml-2">{{ profile.user.notes.count }}</div>
                </a>
                <a href="{% url 'authentication:profile_likes' profile.user.id %}" class="transition-all items-center flex flex-1 px-4 py-3 gap-2 justify-center border-2 border-l-0 border-gray-200 {% if '/likes/' in request.path %} bg-rose-700 text-gray-50 hover:shadow-lg {% else %} text-gray-700 font-medium hover:bg-gray-100 {% endif %}">
                    <img src="{% if '/likes/' in request.path %} {% static 'teknotes/images/thumb_up_white.svg' %} {% else %} {% static 'teknotes/images/thumb_up_black.svg' %} {% endif %}" alt="Like">
                    <p class="text-xl">Likes</p>
                    <div class="flex aspect-square h-6 bg-gray-200 rounded-md items-center justify-center text-gray-500 ml-2">{{ profile.user.likes.count }}</div>
                </a>
                <a href="{% url 'authentication:profile_courses' profile.user.id %}" class="transition-all items-center flex flex-1 px-4 py-3 gap-2 rounded-r-xl justify-center border-2 border-l-0 border-gray-200 {% if '/courses/' in request.path %} bg-rose-700 text-gray-50 hover:shadow-lg {% else %} text-gray-700 font-medium hover:bg-gray-100 {% endif %}">
                    <img src="{% if '/courses/' in request.path %} {% static 'teknotes/images/Course_white.svg' %} {% else %} {% static 'teknotes/images/Course.svg' %} {% endif %}" alt="Like">
                    <p class="text-xl">Courses</p>
                    <div class="flex aspect-square h-6 bg-gray-200 rounded-md items-center justify-center text-gray-500 ml-2">{{ profile.user.courses.count }}</div>
                </a>
            </div>
        </div>

        <div class="flex flex-col flex-1 pt-6 gap-3 overflow-hidden">
            {% if notes.count >= 0 %}
                {% if notes.count > 0 %}
                    {% include 'notes/notes.html' %}
                {% else %}
                    {% if '/notes/' in request.path %}
                        {% include 'core/no_results.html' with message="No notes yet from" query=profile.user.first_name %}
                    {% else %}
                        {% include 'core/no_results.html' with message="No likes yet from" query=profile.user.first_name %}
                    {% endif %}
                {% endif %}
            {% elif courses.count >= 0 %}
                {% if courses.count > 0 %}
                    {% for course in courses %}
                        {% include 'course/course_button.html' with course=course big=True %}
                    {% endfor %}
                {% else %}
                    {% include 'core/no_results.html' with message="No courses yet from" query=profile.user.first_name %}
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
