{% extends 'core/core.html' %}

{% load static %}

{% block title %} Register {% endblock %}

{% load socialaccount %}

{% block body %}
    <div class="flex flex-col max-w-[450px] w-full rounded-xl overflow-hidden bg-gray-50 shadow-xl justify-self-center self-center">
        <div class="h-9 bg-rose-700 w-full"></div>

        <div class="flex flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center p-6 pb-0">
                <p class="text-gray-700 font-semibold text-2xl">Welcome to</p>
                <div class="flex items-center gap-2">
                    <img src="{% static 'teknotes/images/TekNotes-Logo.svg' %}" alt="Logo">
                    <p class="font-semibold text-rose-700 text-4xl">TekNotes</p>
                </div>
            </div>

            <form action="." method="post" class="flex flex-col w-full">
                {% csrf_token %}

                <div class="flex flex-col p-6 gap-3 w-full">
                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl">
                        <img src="{% static 'teknotes/images/User_yellow.svg' %}" alt="User">
                        {{ form.username }}
                    </div>

                    <div class="flex gap-3 w-full">
                        <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl flex-1">
                            <img src="{% static 'teknotes/images/User_yellow.svg' %}" alt="User">
                            {{ form.first_name }}
                        </div>
                        <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl flex-1">
                            <img src="{% static 'teknotes/images/User_yellow.svg' %}" alt="User">
                            {{ form.last_name }}
                        </div>
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl">
                        <img src="{% static 'teknotes/images/Email.svg' %}" alt="Email">
                        {{ form.email }}
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl">
                        <img src="{% static 'teknotes/images/Password.svg' %}" alt="Lock">
                        {{ form.password1 }}
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-xl">
                        <img src="{% static 'teknotes/images/Password.svg' %}" alt="Lock">
                        {{ form.password2 }}
                    </div>
            
                    {% if form.errors or form.non_field_errors %}
                        <div class="px-4 py-3 bg-rose-100 rounded-xl text-rose-700">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
            
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                </div>
                    
                <div class="flex flex-col p-6 gap-3 w-full border-t-2 border-gray-200 items-center">
                    <button class="px-4 py-2 text-gray-50 bg-rose-700 font-medium rounded-md w-full">Sign Up</button>
                    <div class="flex gap-3 w-full items-center">
                        <hr class="border-1 border-gray-400 flex-1">
                        <p class="">or sign up using</p>
                        <hr class="border-1 border-gray-400 flex-1">
                    </div>
                    <div class="flex gap-3 w-full">
                        <a href="#Microsoft" class="flex px-4 py-2 gap-3 shadow-md bg-gray-200 flex-1 rounded-md justify-center">
                            <img src="{% static 'teknotes/images/Microsoft.svg' %}" alt="Microsoft">
                            <p class="text-gray-700">Microsoft</p>
                        </a>
                        <a href="{% provider_login_url 'google' %}?next=/" class="flex px-4 py-2 gap-3 shadow-md bg-gray-200 flex-1 rounded-md justify-center">
                            <img src="{% static 'teknotes/images/Google.svg' %}" alt="Google">
                            <p class="text-gray-700">Google</p>
                        </a>
                    </div>
                    <p class="text-sm text-gray-700">Already have an account? <a href="{% url 'authentication:login' %}" class="underline text-rose-700 font-semibold">Sign in!</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
