{%extends chat/chatroom.html%}
{% block roomSearch%}
<div>
    <h1 style="color: white;">Enter Room</h1>
        <form action="" id="roomForm" method="POST" onsubmit="hideChild()">
            {% csrf_token %}
            <label for="" style="color: white;">Username</label><br>
            <input type="text" placeholder="Username" name="username" required><br>
            <label for="" style="color: white;">Room name</label><br>
            <input type="text" placeholder="room name" name="room" required><br>
            <center><button type="submit">Submit</button></center><br>
        </form>
</div>
{%endblock%}