
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'teknotes/css/highlight.css' %}">
<div class="flex {% if wrap %} flex-wrap {% else %} overflow-x-auto {% endif %} gap-3 ">
    {% for course in courses %}
        <a href="{% url 'advanced_search:view_course' course.id %}" class="px-3 py-1 bg-{{ course.color }} rounded-md shadow-lg font-medium text-gray-50 whitespace-nowrap">{{ course.code }}</a>
    {% endfor %}

    {% for tag in tags %}
        <a href="/search/?query={{ tag.name }}&category=all" class="ncshadow px-3 py-1 {% if query in tag.name %}bg-rose-700 text-white {%else%} bg-gray-50 text-gray-700 {%endif%} rounded-md shadow-lg whitespace-nowrap">{{ tag.name }}</a>
    {% endfor %}
</div>
