<header class="flex items-center w-full p-3 gap-3 shadow-lg z-10 bg-gray-50">
    <div class="flex flex-1 items-center gap-4">
        <img class="cursor-pointer" id="menu-icon" src="{% static 'teknotes/images/Menu.svg' %}" alt="Menu">
        <a href="/" class="flex items-center gap-2">
            <img src="{% static 'teknotes/images/TekNotes-Logo.svg' %}" alt="Logo">
            <p id="logo-text" class="font-semibold text-rose-700 text-4xl">TekNotes</p>
        </a>
        <form action="{% url 'advanced_search:search' %}" method="get" class="flex flex-1 max-w-[600px] px-4 py-2 rounded-xl bg-gray-200 transition-all hover:bg-gray-300 gap-3 cursor-text min-w-[0px]" onclick="this.querySelector('input[name=\'query\']').focus();">
            <img src="{% static 'teknotes/images/Search.svg' %}" alt="Search">

            <!-- Search input -->
            <input name="query" class="placeholder-gray-500 w-full text-gray-700 bg-transparent border-none focus:outline-none min-w-[0px]"
                   type="text" value="{{ query }}" placeholder="Search"
                   onclick="event.stopPropagation();"/>

        </form>
    </div>

    <div class="flex items-center gap-4 h-full">
        {% if request.user.is_authenticated %}
            {% include 'notifications/notification_widget.html' %}

            <a href="{% url 'notes:tek_a_note' %}" class="flex bg-rose-700 rounded-xl gap-4 px-4 py-2 transition-all hover:shadow-lg">
                <img src="{% static 'teknotes/images/Edit.svg' %}" alt="Edit">
                <p class="new-note-text text-gray-50 font-medium text-lg">Tek a Note</p>
            </a>

            <div class="flex h-full">
                <a href="{% url 'authentication:logout' %}" class="transition-all flex gap-4 px-4 py-2 rounded-l-xl bg-gray-200 hover:shadow-lg">
                    <p class="text-gray-700 text-lg">Log out</p>
                </a>
                <a href="{% url 'authentication:profile' request.user.id %}" class="transition-all flex h-full aspect-square rounded-r-xl bg-[url('{{ request.user.profile.avatar.url }}')] bg-cover border-2 border-gray-200 hover:shadow-lg"></a>
            </div>
        {% else %}
            <a href="{% url 'authentication:login' %}" class="flex bg-rose-700 rounded-xl gap-4 px-6 py-2 transition-all hover:shadow-lg">
                <p class="text-gray-50 font-medium text-lg">Sign In</p>
            </a>
        {% endif %}
    </div>
</header>