{% extends 'core/base.html' %}

{% load static %}

{% block title %} Tek a note {% endblock %}

{% block content %}
    <div class="flex flex-col max-w-[800px] w-full rounded-xl bg-gray-50 self-center shadow-lg overflow-y-scroll">
        <div class="flex px-4 py-2 bg-rose-700 w-full justify-between items-center rounded-t-xl">
            <p class="font-medium text-gray-50 text-lg">Tek a note</p>
            <a href="javascript:history.back()"><img src="{% static 'teknotes/images/Close.svg' %}" alt="x"></a>
        </div>

        <div class="flex flex-col items-center justify-center">
            <form action="." method="post" class="flex flex-col w-full">
                {{ form.media }}
                {% csrf_token %}
                <input type="hidden" name="course" id="selected-course-value" value="">

                <div class="flex flex-col p-6">
                    <div class="relative">
                        <div id="dropdown-button" class="flex justify-between w-full px-4 py-3 bg-gray-50 border-2 border-yellow-500 rounded-t-xl cursor-pointer">
                            <span class="text-left text-gray-500" id="selected-course">Course</span>
                            <img id="dropdown-arrow" src="{% static 'teknotes/images/arrow_right.svg' %}" alt="arrow_right">
                        </div>

                        <div id="dropdown-menu" class="hidden absolute w-full bg-gray-50 border-2 border-t-0 border-yellow-500 rounded-b-xl shadow-lg z-10">
                            <ul class="flex flex-col gap-1 p-2">
                                <li class="rounded-md cursor-pointer px-3 py-1.5 hover:bg-gray-200 text-gray-500 select-course" data-value="">
                                    None
                                </li>
                                {% for course in form.course.field.queryset %}
                                    <li class="rounded-md cursor-pointer px-3 py-1.5 hover:bg-gray-600 text-gray-50 bg-{{ course.color }} select-course" data-value="{{ course.id }}">
                                        {{ course }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function(){
                            $('#dropdown-button').click(function() {
                                var dropdownMenu = $('#dropdown-menu');
                                if (dropdownMenu.is(':visible')) {
                                    dropdownMenu.hide(150);
                                    $('#dropdown-arrow').attr('src', "{% static 'teknotes/images/arrow_right.svg' %}");
                                } else {
                                    dropdownMenu.show(150);
                                    $('#dropdown-arrow').attr('src', "{% static 'teknotes/images/arrow_down.svg' %}");
                                }
                            });

                            $(document).click(function(event) {
                                if(!$(event.target).closest('#dropdown-button, #dropdown-menu').length) {
                                    if($('#dropdown-menu').is(":visible")) {
                                        $('#dropdown-menu').hide(150);
                                        $('#dropdown-arrow').attr('src', "{% static 'teknotes/images/arrow_right.svg' %}");
                                    }
                                }
                            });

                            $('.select-course').click(function() {
                                var courseText = $(this).text();
                                var courseValue = $(this).data('value');

                                $('#selected-course').text(courseText);
                                $('#selected-course-value').val(courseValue);
                                $('#dropdown-menu').hide(150);
                                $('#dropdown-arrow').attr('src', "{% static 'teknotes/images/arrow_right.svg' %}");
                            });
                        });
                    </script>

                    <div class="flex flex-col gap-3 px-4 py-3 border-2 border-b-0 border-yellow-500 mt-[-2px]">
                        {{ form.title }}
                        {{ form.content }}
                        <div class="flex gap-3">
                            <label for="image-upload">
                                <img class="cursor-pointer" src="{% static 'teknotes/images/Image.svg' %}" alt="image">
                                <input id="image-upload" type="file" accept="image/png, image/jpeg" style="display:none;">
                            </label>

                            <label for="video-upload">
                                <img class="cursor-pointer" src="{% static 'teknotes/images/Video.svg' %}" alt="video">
                                <input id="video-upload" type="file" accept="video/mp4, video/avi" style="display:none;">
                            </label>

                            <label for="sound-upload">
                                <img class="cursor-pointer" src="{% static 'teknotes/images/Sound.svg' %}" alt="sound">
                                <input id="sound-upload" type="file" accept="audio/mpeg, audio/wav" style="display:none;">
                            </label>
                        </div>
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 mt-[-2px]">
                        {{ form.tags }}
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-b-xl mt-[-2px] items-center">
                        {{ form.is_private }}
                        <p class="text-gray-500">make private?</p>
                    </div>
                </div>

                <div class="flex p-6 gap-3 w-full border-t-2 border-gray-200 items-center">
                    <button class="px-4 py-2 text-gray-50 bg-rose-700 font-medium rounded-md w-full">Tek Note</button>
                    <a href="javascript:history.back()" class="flex px-4 py-2 bg-gray-200 rounded-md w-full justify-center">
                        <p class="text-gray-700">Cancel</p>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
