{% extends 'core/base.html' %}

{% load static %}

{% block title %} Tek a note {% endblock %}

{% block content %}
    <div class="flex flex-col max-w-[760px] max-h-[760px] w-full rounded-xl bg-gray-50 dark:bg-gray-800 self-center shadow-lg overflow-hidden">
        <div id="note-bar" class="transition-all flex px-4 py-2 bg-rose-700 w-full justify-between items-center rounded-t-xl">
            <p class="font-medium text-gray-50 hover:bg-rose-600 text-lg">Tek a note</p>
            <div onclick="goToLastPage()" class="cursor-pointer">
                <svg class="fill-gray-50" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"/>
                </svg>
            </div>
        </div>

        <div class="flex flex-col justify-center items-center overflow-hidden">
            <form action="." method="post" class="flex flex-col w-full overflow-hidden">
                {{ form.media }}
                {% csrf_token %}
                <input type="hidden" name="course" id="selected-course-value" value="">

                <div class="flex flex-col p-6 overflow-hidden">
                    <div class="relative">
                        <div id="dropdown-button" class="flex justify-between w-full px-4 py-3 bg-gray-50 dark:bg-gray-800 border-2 border-yellow-500 rounded-t-xl cursor-pointer">
                            <span class="text-left text-gray-500 dark:text-gray-400" id="selected-course">Course</span>
                            <svg id="dropdown-arrow" class="fill-gray-700 dark:fill-gray-50" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path d="M89.45 87.5l143.1 152c4.375 4.625 6.562 10.56 6.562 16.5c0 5.937-2.188 11.87-6.562 16.5l-143.1 152C80.33 434.1 65.14 434.5 55.52 425.4c-9.688-9.125-10.03-24.38-.9375-33.94l128.4-135.5l-128.4-135.5C45.49 110.9 45.83 95.75 55.52 86.56C65.14 77.47 80.33 77.87 89.45 87.5z"/>
                            </svg>
                        </div>

                        <div id="dropdown-menu" class="hidden absolute w-full bg-gray-50 dark:bg-gray-800 border-2 border-t-0 border-yellow-500 rounded-b-xl shadow-lg z-10">
                            <ul class="flex flex-col gap-1 p-2">
                                <li class="rounded-md cursor-pointer px-3 py-1.5 hover:bg-gray-200 text-gray-500 dark:text-gray-400 select-course" data-value="">
                                    None
                                </li>
                                {% for course in form.course.field.queryset %}
                                    <div onclick="changeColor('{{ course.color }}')" class="flex flex-wrap rounded-md cursor-pointer gap-1.5 px-3 py-1.5 justify-between hover:bg-gray-600 text-gray-50 bg-{{ course.color }} select-course" data-value="{{ course.id }}">
                                        <p class="text-nowrap select-course-text">{{ course }}</p>
                                        {% if request.user != course.created_by %}
                                            <div class="flex gap-2 items-center text-nowrap">
                                                <div class="font-medium text-sm">by</div>
                                                <img src="{{ course.created_by.profile.avatar.url }}" alt="Profile Image" class="h-4 w-4 aspect-square rounded-full">
                                                <div class="font-medium text-sm">{{ course.created_by.get_full_name }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <script>
                        function changeColor(color_code) {
                            $("#note-btn").removeClass(function(index, className) {
                                return (className.match(/bg-\S+/g) || []).join(' ');
                            });
                            $("#note-bar").removeClass(function(index, className) {
                                return (className.match(/bg-\S+/g) || []).join(' ');
                            });
                            $("#note-btn").addClass('bg-' + color_code);
                            $("#note-bar").addClass('bg-' + color_code);
                        }
                        $(document).ready(function(){
                            $('#dropdown-button').click(function() {
                                var dropdownMenu = $('#dropdown-menu');
                                if (dropdownMenu.is(':visible')) {
                                    dropdownMenu.hide(150);
                                    changePath("#dropdown-arrow", angleRight, '0 0 256 512');
                                } else {
                                    dropdownMenu.show(150);
                                    changePath("#dropdown-arrow", angleDown, '0 0 384 512');
                                }
                            });

                            $(document).click(function(event) {
                                if(!$(event.target).closest('#dropdown-button, #dropdown-menu').length) {
                                    if($('#dropdown-menu').is(":visible")) {
                                        $('#dropdown-menu').hide(150);
                                        changePath("#dropdown-arrow", angleRight, '0 0 256 512');
                                    }
                                }
                            });

                            $('.select-course').click(function() {
                                var courseText = $(this).text();
                                var courseValue = $(this).data('value');

                                $('#selected-course').text(courseText);
                                $('#selected-course-value').val(courseValue);
                                $('#dropdown-menu').hide(150);
                                changePath("#dropdown-arrow", angleRight, '0 0 256 512');
                            });
                        });
                    </script>

                    <div class="flex flex-1 flex-col border-2 border-b-0 border-yellow-500 mt-[-2px] overflow-hidden">
                        <div class="flex flex-col gap-3 px-4 py-3">
                            {{ form.title }}
                        </div>
                        <div class="flex flex-1 overflow-y-auto mb-0.5 text-gray-700 dark:text-gray-50">
                            {{ form.content }}
                            <script>
                                $(document).ready(function() {
                                    $('#id_content_script-word-count').hide();
                                });
                            </script>
                        </div>
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 mt-[-2px]">
                        {{ form.tags }}
                    </div>

                    <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-b-xl mt-[-2px] items-center">
                        {{ form.is_private }}
                        <p class="text-gray-500 dark:text-gray-400">make private?</p>
                    </div>
                </div>

                <div class="flex p-6 gap-3 w-full border-t-2 border-gray-200 dark:border-gray-900 items-center">
                    <button id="note-btn" class="transition-all px-4 py-2 text-gray-50 bg-rose-700 font-medium rounded-md w-full">Tek Note</button>
                    <div onclick="goToLastPage()" class="cursor-pointer flex px-4 py-2 bg-gray-200 dark:bg-gray-900 rounded-md w-full justify-center">
                        <p class="text-gray-700 dark:text-gray-50">Cancel</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
