{% load static %} {% load custom_filters %}
<link rel="stylesheet" href="{% static 'teknotes/css/highlight.css' %}" />

<div class="flex gap-4 items-center">
  <img
    src="{{ note.created_by.profile.avatar.url }}"
    alt="Profile Image"
    class="h-6 w-6 aspect-square rounded-full"
  />
  <div>
    <p class="text-gray-500 font-medium text-sm">
      {{ note.created_by.first_name }} {{ note.created_by.last_name }}
    </p>
    <p class="text-gray-500 text-sm">{{ note.modified_at|timesince }} ago</p>
  </div>
</div>
