{% extends 'core/base.html' %}

{% load static %}

{% block title %} Add a course {% endblock %}

{% block content %}
    <div class="flex flex-col max-w-[450px] w-full rounded-xl bg-gray-50 self-center shadow-lg">
        <div class="flex px-4 py-2 bg-rose-700 w-full justify-between items-center rounded-t-xl">
            <p class="font-medium text-gray-50 text-lg">Add a course</p>
            <a href="javascript:history.back()">
                <svg class="fill-gray-50" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"/>
                </svg>
            </a>
        </div>
        <div class="flex flex-col items-center justify-center">
            <form action="." method="post" class="flex flex-col w-full">
                {% csrf_token %}
                <div class="flex flex-col p-6 gap-6">
                    <div class="flex flex-col">
                        <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-t-xl">
                            {{ form.code }}
                        </div>
                        <div class="flex gap-3 px-4 py-3 border-2 border-t-0 border-yellow-500 rounded-b-xl">
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="grid cols grid-cols-7 w-full gap-2">
                        {% for color_code, color_name in form.color.field.choices %}
                            <div class="color-option transition-all h-10 w-full rounded-md cursor-pointer bg-{{ color_code }} hover:ring hover:ring-yellow-500" title="{{ color_name }}">
                                <input type="radio" name="color" value="{{ color_code }}" id="{{ color_code }}" class="hidden" />
                                <label for="{{ color_code }}" class="w-full h-full flex items-center justify-center rounded-md cursor-pointer bg-{{ color_code }}"></label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="flex p-6 gap-3 w-full border-t-2 border-gray-200 items-center">
                    <button class="px-4 py-2 text-gray-50 bg-rose-700 font-medium rounded-md w-full">Add course</button>
                    <a href="javascript:history.back()" class=" flex px-4 py-2 bg-gray-200 rounded-md w-full justify-center">
                        <p class="text-gray-700">Cancel</p>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.color-option').click(function() {
                $('.color-option').removeClass('ring-2 ring-yellow-500');
                $(this).addClass('ring-2 ring-yellow-500');
            });
        });
    </script>
{% endblock %}
