{% extends 'core/base.html' %}

{% load static %}

{% block title %} Edit course: {{ course.code }}{% endblock %}
{% block page-title %} Edit course: {{ course.code }} {% endblock %}

{% block content %}
    <div class="flex flex-col max-w-[450px] w-full rounded-xl bg-gray-50 dark:bg-gray-800 self-center shadow-lg">
        <div id="course-bar" class="transition-all flex px-4 py-2 bg-{{ course.color }} w-full justify-between items-center rounded-t-xl">
            <p class="font-medium text-gray-50 text-lg">Edit course</p>
            <div onclick="goToLastPage()" class="cursor-pointer">
                <svg class="fill-gray-50" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"/>
                </svg>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <form action="." method="post" class="flex flex-col w-full">
                {% csrf_token %}
                <div class="flex flex-col p-6 gap-6">
                    <div class="flex flex-col">
                        <div class="flex gap-3 px-4 py-3 border-2 border-yellow-500 rounded-t-xl">
                            {{ form.code }}
                        </div>
                        <div class="flex gap-3 px-4 py-3 border-2 border-t-0 border-yellow-500 rounded-b-xl">
                            {{ form.description }}
                        </div>
                    </div>
                    {% if form.code.errors %}
                        <div class="p-4 bg-rose-100 rounded-xl text-rose-700">
                            {% for error in form.code.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="grid cols grid-cols-7 w-full gap-2">
                        {% for color_code, color_name in form.color.field.choices %}
                            <div class="color-option transition-all h-10 w-full rounded-md cursor-pointer bg-{{ color_code }} hover:ring hover:ring-yellow-500" title="{{ color_name }}">
                                <input onclick="changeColor('{{ color_code }}')" type="radio" name="color" value="{{ color_code }}" id="{{ color_code }}" class="hidden" {% if form.color.value == color_code %} checked {% endif %} />
                                <label for="{{ color_code }}" class="w-full h-full flex justify-center items-center rounded-md cursor-pointer bg-{{ color_code }} {% if form.color.value == color_code %} ring-2 ring-yellow-500 {% endif %}"></label>
                            </div>
                            <script>
                                function changeColor(color_code) {
                                    $("#course-btn").removeClass(function(index, className) {
                                        return (className.match(/bg-\S+/g) || []).join(' ');
                                    });
                                    $("#course-bar").removeClass(function(index, className) {
                                        return (className.match(/bg-\S+/g) || []).join(' ');
                                    });
                                    $("#course-btn").addClass('bg-' + color_code);
                                    $("#course-bar").addClass('bg-' + color_code);
                                }
                            </script>
                        {% endfor %}
                    </div>
                </div>

                <div class="flex p-6 gap-3 w-full border-t-2 border-gray-200 dark:border-gray-900 items-center">
                    <button id="course-btn" class="transition-all px-4 py-2 text-gray-50 bg-{{ course.color }} font-medium rounded-md w-full">Save</button>
                    <div onclick="goToLastPage()" class="cursor-pointer flex px-4 py-2 bg-gray-200 dark:bg-gray-900 rounded-md w-full justify-center">
                        <p class="text-gray-700 dark:text-gray-50">Cancel</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.color-option').click(function() {
                $('.color-option').removeClass('ring-2 ring-yellow-500');
                $(this).addClass('ring-2 ring-yellow-500');
            });
        });
    </script>
{% endblock %}