{% load static %}
{% load custom_filters %}

<div class="flex flex-col gap-3 p-4 rounded-xl rounded-xl border-2 border-gray-300 mb-3">
    <h3 class="text-xl font-semibold text-gray-700">Recent Notes</h3>
    <div class="flex flex-col gap-3">
        {% for note in recent_posts %}
            <a href="{% url 'notes:note_detail' note.id %}" class="transition-all flex flex-col cursor-pointer bg-gray-50 hover:bg-gray-100 hover:shadow-md rounded-md p-3 gap-2 items-start overflow-hidden">
                <div class="flex items-center w-full overflow-hidden gap-2">
                    <div class="flex flex-1 gap-2 items-center overflow-hidden">
                        <img src="{{ note.created_by.profile.avatar.url }}" alt="Profile Image" class="h-4 w-4 aspect-square rounded-full">
                        <p class="text-gray-500 font-medium text-sm overflow-hidden">
                            {% if user == request.user %}
                                <span class="font-normal text-gray-400">You</span>
                            {% else %}
                                {{ note.created_by.get_full_name }}
                            {% endif %}
                        </p>
                    </div>
                    <p class="text-gray-500 text-sm">{{ note.modified_at|formattime }}</p>
                </div>
                <div class="flex gap-2 items-center overflow-hidden">
                    {% if note.course %}
                        <p class="text-sm text-gray-50 bg-{{ note.course.color }} px-2 py-0.5 rounded text-nowrap overflow-hidden text-ellipsis ">{{ note.course.code }}</p>
                    {% endif %}
                    <h3 class="text-lg font-semibold text-gray-700 text-nowrap overflow-hidden text-ellipsis ">{{ note.title|truncatechars:13 }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
</div>