
.highlight {
    transition: background-color 5s ease;
}

.highlight_note_title {
    background-color: rgb(23, 194, 232); 
    color: black; 
}

.highlight_note_detail {
    background-color: yellow; 
    color: black;   
}
.highlight_user {
    text-decoration: underline;
    font-weight: bold;
    color:pink

}
.ncshadow {
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.ncshadow.bg-rose-700:hover {
    box-shadow: inset 6px 6px 6px rgba(82, 16, 16, 0.1),
                inset -5px -5px 5px #fca5a5; /* Softer red shadow inset */
}
.ncshadow.bg-gray-50:hover {
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px white;
}
