{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Teknotes | {% block title %}{% endblock %}</title>
</head>

<body class="bg-stone-100">
  <header class="flex gap-2 p-1 bg-white shadow-stone-100">
    <button>
      <img class="w-10 h-10" src="{% static 'teknotes/images/Sort.svg' %}" alt="Sidebar Icon" />
    </button>

    <button>
      <img class="w-48 h-10" src="{% static 'teknotes/images/Logo.svg' %}" alt="Main Icon" />
    </button>

    <input class="flex-1" type="text">

    <button class="ml-auto rounded-xl font-bold text-white bg-red-700 px-3 py-1 flex items-center">
      <img class="mr-2" src="{% static 'teknotes/images/Edit.svg' %}" alt="New Note Icon" />
      Tek a Note
    </button>

    <button class="ml-auto">
      <img class="" src="{% static 'teknotes/images/ID_Picture1.svg' %}" alt="Profile Icon" />
    </button>

  </header>

  <div class="flex">
    <nav class="flex flex-col gap-2 p-2 w-1/5">
      <a class="px-2 py-1 bg-white border-l-4 border-red-700 rounded-lg flex items-center gap-2 transition-all hover:bg-red-200 w-full" href="">
        <img class="w-4 h-4" src="{% static 'teknotes/images/Home.svg' %}" alt="Home Icon" />
        Home
      </a>
      <a class="px-2 py-1 rounded-lg flex items-center gap-2 transition-all hover:bg-red-200 w-full" href="your-notes">
        <img class="w-4 h-4" src="{% static 'teknotes/images/User.svg' %}" alt="Home Icon" />
        Your Notes
      </a>
      <a class="px-2 py-1 rounded-lg flex items-center gap-2 transition-all hover:bg-red-200 w-full" href="">
        <img class="w-4 h-4" src="{% static 'teknotes/images/thumb_up.svg' %}" alt="Home Icon" />
        Likes
      </a>

      <button class="px-2 py-1 bg-white border-l-4 border-red-700 rounded-lg flex items-center gap-2 transition-all hover:bg-red-200 w-full" >Courses</button>

    </nav>

    <main class="flex-1" id="content">
      {% block content %}{% endblock %}
    </main>
  </div>

  <footer>
    <p>Footer Section</p>
  </footer>

</body>

<script>
// Add script for interactivity on sidebar
</script>

</html>
