{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="p-4">

  <div class="flex gap-1 p-2 text-white">
    {% for tag in tags %}

    <button class="rounded-3xl bg-green-600 px-3 py-1">
      {{tag}}
    </button>

    {% endfor %}
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    {% for note in notes %}

    <a class="rounded-lg border border-gray-200 pb-4" href="" >
      <div class="bg-green-500 rounded-t-lg p-2 font-bold text-sm text-white">
        CSIT 101 - Application Development
      </div>

      <div class="py-1 px-3">
        <h4 class="text-bold text-3xl">{{note.title}}</h4>
        <h6 class="to-stone-500 text-sm">by {{note.creator}}</h6>

        <p class="mt-4">{{note.content}}</p>
      </div>

      <div class="border-b border-t border-stone-300 flex m-3 p-1">
        <p>
          2d ago
        </p>
        <div class="flex flex-1 gap-2 justify-end">
          <div class="flex">
            <img class="" src="{% static 'teknotes/images/thumb_up.svg' %}" alt="Like Icon" />
            97
          </div>
          <div class="flex">
            <img class="" src="{% static 'teknotes/images/thumb_down.svg' %}" alt="Dislike Icon" />
            24
          </div>
          <div class="flex">
            <img class="" src="{% static 'teknotes/images/comment.svg' %}" alt="Comment Icon" />
            3
          </div>
        </div>
      </div>

      <div class="p-1" >
        <button class="bg-stone-200 rounded-xl px-2">neural networks</button>
        <button class="bg-stone-200 rounded-xl px-2">neural networks</button>
      </div>

    </a>

    {% endfor %}
  </div>

</div>

{% endblock %}
