{% load static %} {% load custom_filters %}

<div class="relative">
  <button id="notif-button" class="hover:bg-gray-200 transition-all w-10 rounded-full p-2 aspect-square">
    <img src="{% static 'teknotes/images/Bell.svg' %}" alt="notif-button" />
  </button>

  <div id="notif-dropdown" class="absolute top-10 bg-white rounded-lg w-72 overflow-hidden shadow-lg">
    <h4 class="bg-rose-700 p-2 text-xl text-white">Notification</h4>

    <div class="flex justify-evenly p-2">
      <button id="all-button" class="rounded-full py-1 px-4 hover:opacity-95 bg-red-100 hover:bg-red-200">All</button>
      <button id="unread-button" class="rounded-full py-1 px-4 hover:opacity-95 bg-red-100 hover:bg-red-200">Unread</button>
    </div>

    {% for notif in notifications  %}
      {% include "notifications/notification.html" %}
    {% endfor %}

  </div>
</div>

<script>
  $(document).ready(function() {
    var dropdown = $("#notif-dropdown");
    dropdown.hide();

    $("#notif-button").click(function() {
      if (dropdown.is(":visible")) {
        dropdown.hide(150);
      } else {
        dropdown.show(150);
      }
    })
  })

</script>
